<!-- Section: Design Block -->
<section class="text-center text-lg-start mt-5">
    <style>
        .cascading-right {
            margin-right: -50px;
        }
        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4 mt-5">
        <div class="row g-0 align-items-center ">
            <div class="col-lg-6 mt-5 mb-lg-0 ">
                <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                    <div class="card-body p-5 shadow-5 text-center w-60 ">
                        <h4 class="fw-bold  text-dark">Hello</h4>
                        <h1 class="fw-bold  text-success">Admin</h1>                        
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-5 mb-lg-0">
                <img src="/images/img1.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->